{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Cidades em {{ entities[0].estado.nome }}{% endblock %}
{% block content %}
<h2>Cidades em {{ entities[0].estado.nome }}</h2>
<p><a href="{{ url('brasil') }}">Mudar estado</a></p>
<div class="span3">
    <ul>
    {% for entity in entities %}
        <li>
            <a href="{{ path('entidades', { 'cityName': entity.slug, 'stateName': entity.estado.nome|lower }) }}">{{ entity.nome }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
