{% extends "::base.html.twig" %}
{% block title %}Quero ser Voluntário!{% endblock %}
{% block body %}
    <h1><a href="{{ url('homepage') }}">Quero ser Voluntário!</a></h1>
    <nav>
        <a href="{{ url('sobre') }}">Sobre o site</a> | 
        <a href="{{ url('buscar') }}">Buscar entidade</a> | 
        <a href="{{ url('cadastrarVoluntario') }}">Cadastrar Voluntário</a> | 
        <a href="{{ url('cadastrarEntidade') }}">Cadastrar Entidade</a> | 
        <a href="{{ url('contato') }}">Contato</a>
    </nav>
    <div>
    {% block content %}{% endblock %}
    </div>
    <br/>
    <footer>
        © 2012 www.QueroSerVoluntario.com
    </footer>
{% endblock %}
