{% extends "::base.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário!{% endtrans %}{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}Quero ser Voluntário{% endtrans %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">{% trans %}Admin{% endtrans %}</a></li>
                    {% endif %}
                    <li><a href="{{ path('sobre') }}">{% trans %}Sobre o Site{% endtrans %}</a></li>
                    <li><a href="{{ path('buscar') }}">{% trans %}Buscar Entidade{% endtrans %}</a></li>
                    <li><a href="{{ path('voluntario_cadastrar') }}">{% trans %}Cadastrar Voluntário{% endtrans %}</a></li>
                    <li><a href="{{ path('entidade_cadastrar') }}">{% trans %}Cadastrar Entidade{% endtrans %}</a></li>
                    <li><a href="{{ path('contato') }}">{% trans %}Contato{% endtrans %}</a></li>
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pt_BR'})) }}" rel="alternate" hreflang="pt-br">
                            <img src="{{ asset('img/blank.gif') }}" class="flag flag-br" alt="Site em Português" />
                        </a>
                    <li>
                    <li>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" rel="alternate" hreflang="en">
                            <img src="{{ asset('img/blank.gif') }}" class="flag flag-us" alt="Website in English" />
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <hr style="clear: both;">
    <div style="height:80px" class="text-center">
        <div class="fb-like" data-href="http://facebook.com/queroservoluntario" data-width="450" data-show-faces="true" data-send="true"></div>
    </div>
    <footer class="text-center">
        © 2011-{{ "now"|date("Y") }}
        <a href="{{ path('sobre') }}">{% trans %}QueroSerVoluntario{% endtrans %}</a> <a href="{{ path('brasil') }}">{% trans %}Brasil{% endtrans %}</a>
    </footer>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=288151054658648";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        var _prum = [['id', '5577e60cabe53d3e40242e7c'],
        ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
    </script>
{% endblock %}
