<h1>Voluntario</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ entity.nome }}</td>
        </tr>
        <tr>
            <th>Nascimento</th>
            <td>{{ entity.nascimento|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Profissao</th>
            <td>{{ entity.profissao }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>{{ entity.telefone }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ entity.celular }}</td>
        </tr>
        <tr>
            <th>Empresa</th>
            <td>{{ entity.empresa }}</td>
        </tr>
        <tr>
            <th>Ja_foi_voluntario</th>
            <td>{{ entity.jafoivoluntario }}</td>
        </tr>
        <tr>
            <th>Entidade</th>
            <td>{{ entity.entidade }}</td>
        </tr>
        <tr>
            <th>Area_de_trabalho</th>
            <td>{{ entity.areadetrabalho }}</td>
        </tr>
        <tr>
            <th>Area_de_atuacao</th>
            <td>{{ entity.areadeatuacao }}</td>
        </tr>
        <tr>
            <th>Quer_fazer</th>
            <td>{{ entity.querfazer }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('voluntario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('voluntario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('voluntario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
