{% extends "EherQueroSerVoluntarioFrontendBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Edição do Voluntário{% endtrans %}: {{ entity.id }}{% endblock %}
{% block content %}
    <h2>{% trans %}Edição do Voluntário{% endtrans %}: {{ entity.id }}</h2>

    <form class="form-horizontal" action="{{ path('voluntario_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">{% trans %}Salvar{% endtrans %}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('voluntario') }}">
                {% trans %}Voltar para a lista{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('voluntario_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Apagar{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
