{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Lista de Vagas{% endblock %}
{% block content %}
    <h1>Lista de Vagas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entidade</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Cadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vaga_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('entidade_show', { 'id': entity.entidade.id }) }}">{{ entity.entidade }}</a></td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.descricao }}</td>
                <td>{{ entity.createdAt|date }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('vaga_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('vaga_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('vaga_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
