{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Vaga{% endtrans %} {{ entity.id }}{% endblock %}
{% block content %}
    <h2>{% trans %}Vaga{% endtrans %}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Entidade{% endtrans %}</th>
                <td>{{ entity.entidade }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nome{% endtrans %}</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>{% trans %}Descrição{% endtrans %}</th>
                <td>{{ entity.descricao }}</td>
            </tr>
            <tr>
                <th>{% trans %}Como aplicar{% endtrans %}</th>
                <td>{{ entity.comoAplicar }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('vaga') }}">
            {% trans %}Voltar para a lista{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('vaga_edit', { 'id': entity.id }) }}">
            {% trans %}Editar{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('vaga_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}Apagar{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}
