{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}{% trans %}Quero ser Voluntário{% endtrans %} - {% trans %}Busca de Entidades{% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans %}Busca de Entidades{% endtrans %}</h2>
    <div class="col-md-3 well">
        <form role="form">
            <div class="form-group">
                    <label for="cidade">{% trans %}Cidade{% endtrans %}</label>
                    <input name="cidade" type="text" class="form-control" value="{{ cityName }}" placeholder="{% trans %}Exemplo{% endtrans %}: São Paulo"/>
            </div>

            <div class="form-group">
                    <label for="estado">{% trans %}Estado{% endtrans %}</label>
                    <input name="estado" type="text" class="form-control" value="{{ stateName }}" placeholder="{% trans %}Exemplo{% endtrans %}: SP"/>
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}Buscar{% endtrans %}</button>
        </form>
    </div>
    {% if search %}
        <div class="col-md-8">
            {% if search.getNumFound > 0 %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th class="col-md-2">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for place in search.getItems %}
                            <tr>
                                <td>{{ place.name }}</td>
                                <td>{{ place.address.toOneLine}} </td>
                                <td>{{ place.phone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Nenhum resultado.</h4>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
