{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <div class="span3 well">
        <h3>Buscar de Entidades</h3>
        <form action="" class="form-inline">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="cidade">Cidade</label>
                    <div class="controls">
                        <input name="cidade" type="text" value="{{ cityName }}" class="span2"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="uf">UF</label>
                    <div class="controls">
                        <input name="uf" type="text" value="{{ stateName }}" class="span1"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </fieldset>
        </form>
    </div>
    {% if search %}
        <div class="span11">
            {% if search.getNumFound > 0 %}
                    {% for place in search.getItems %}
                        <div class="row well span3">
                            <strong>{{ place.name }}</strong>
                            <p>{{ place.address.toOneLine }}</p>
                            <p><a>{{ place.phone }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4>Nenhum resultado.</h4>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
