{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Contato{% endblock %}
{% block content %}
    <div class="span3 well">
        <h3>Buscar de Entidades</h3>
        <form action="" class="form-inline">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="cidade">Cidade</label>
                    <div class="controls">
                        <input name="cidade" type="text" value="{{ cityName }}" class="span2"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="uf">UF</label>
                    <div class="controls">
                        <input name="uf" type="text" value="{{ stateName }}" class="span1"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </fieldset>
        </form>
    </div>
    {% if search %}
        <div class="span8">
            {% if search.getNumFound > 0 %}
                <table class="span8 table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th class="span2">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for place in search.getItems %}
                            <tr>
                                <td> {{ place.name }} </td>
                                <td> {{ place.address.toOneLine }} </td>
                                <td> {{ place.phone }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Nenhum resultado.</h4>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
