{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Entidades em {{ cityName|title }} - {{ stateName|upper }}{% endblock %}
{% block content %}
    <h2>Entidades em {{ cityName|title }} - {{ stateName|upper }}</h2>
    <p><a href="{{ path('cidade_em_estado', {'estado': stateName}) }}">Mudar cidade</a></p>
    {% if search %}
        <div class="span8">
            {% if search.getNumFound > 0 %}
                <table class="span8 table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th class="span2">Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for place in search.getItems %}
                            <tr>
                                <td> {{ place.name }} </td>
                                <td> {{ place.address.toOneLine }} </td>
                                <td> {{ place.phone }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>Nenhuma entidade cadastrada</h4>
                <p>No momento não temos entidades cadastradas em {{ cityName|title }}.</p>
                <p>Você pode:
                <ul>
                    <li>
                        Fazer o <a href="{{ path('voluntario_new') }}">Cadastro de Voluntário</a> para que possamos encontrar uma oportunidade para você</p>
                    </li>
                    <li>Adicionar uma entidade no <a href="{{ path('entidade_new') }}">Cadastro de Entidade</a></li>
                </ul>
                </br>
            {% endif %}
        </div>
    {% endif %}

    <div class="span8" style="text-align:center;">
        <div class="fb-comments" data-width="auto" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"></div>
    </div>
{% endblock %}
