{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Lista de Entidades{% endblock %}
{% block content %}
    <h2>Lista de Entidades</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('entidade_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.createdAt|date }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entidade_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entidade_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entidade_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
