{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Lista de Entidades{% endblock %}
{% block content %}
    <h2>Lista de Entidades</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Cadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('entidade_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.nome }}
                </td>
                <td>
                    {{ entity.endereco }} - {{ entity.bairro }}<br>
                    CEP: {{ entity.cep }}
                </td>
                <td>
                    {{ entity.cidade }}
                </td>
                <td>
                    <a href="tel:{{ entity.telefone }}">{{ entity.telefone }}</a>
                </td>
                <td>{{ entity.createdAt|date }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entidade_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entidade_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="https://www.google.com.br/#q={{ entity.nome }}" target="_blank">google pelo nome</a>
                        </li>
                        <li>
                            <a href="http://www.buscacep.correios.com.br/servicos/dnec/consultaEnderecoAction.do?relaxation={{ entity.endereco }}+{{ entity.bairro }}&TipoCep=ALL&semelhante=N&cfm=1&Metodo=listaLogradouro&TipoConsulta=relaxation&StartRow=1&EndRow=10" target=_blank">buscar cep</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entidade_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
