{% extends "EherQueroSerVoluntarioBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Edição do Voluntário: {{ entity.id }}{% endblock %}
{% block content %}
    <h2>Entidade</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>
                    <a href="https://www.google.com.br/#q={{ entity.nome }}" target="_blank">{{ entity.nome }}</a>
                </td>
            </tr>
            <tr>
                <th>Endereço</th>
                <td>{{ entity.endereco }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ entity.bairro }}</td>
            </tr>
            <tr>
                <th>CEP</th>
                <td>{{ entity.cep }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ entity.cidade }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('entidade') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('entidade_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('entidade_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
