{% extends "::base.html.twig" %}
{% block title %}Quero ser Voluntário!{% endblock %}
{% block body %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url('homepage') }}">Quero ser Voluntário</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ url('sobre') }}">Sobre o site</a></li>
              <li><a href="{{ url('buscar') }}">Buscar entidade</a></li>
              <li><a href="{{ url('voluntario_new') }}">Cadastrar Voluntário</a></li>
              <li><a href="{{ url('entidade_new') }}">Cadastrar Entidade</a></li>
              <li><a href="{{ url('contato') }}">Contato</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <hr>
    <footer>
        © 2011-{{ "now"|date("Y") }} www.QueroSerVoluntario.com
    </footer>
{% endblock %}
