{% extends "EherQueroSerVoluntarioFrontendBundle::layout.html.twig" %}
{% block title %}Quero ser Voluntário - Edição do Voluntário: {{ entity.id }}{% endblock %}
{% block content %}
    <h2>Entidade</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nome{% endtrans %}</th>
                <td>{{ entity.nome }}</td>
            </tr>
            <tr>
                <th>{% trans %}Endereço{% endtrans %}</th>
                <td>{{ entity.endereco }}</td>
            </tr>
            <tr>
                <th>{% trans %}Bairro{% endtrans %}</th>
                <td>{{ entity.bairro }}</td>
            </tr>
            <tr>
                <th>{% trans %}CEP{% endtrans %}</th>
                <td>{{ entity.cep }}</td>
            </tr>
            <tr>
                <th>{% trans %}Cidade{% endtrans %}</th>
                <td>{{ entity.cidade }}</td>
            </tr>
            <tr>
                <th>{% trans %}Telefone{% endtrans %}</th>
                <td>
                    <a href="tel:{{ entity.telefone }}">{{ entity.telefone }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Site{% endtrans %}</th>
                <td>
                    <a href="{{ entity.site }}" taget="_blank">{{ entity.site }}</a>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>
                    <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('entidade') }}">
                {% trans %}Voltar para a lista{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('entidade_edit', { 'id': entity.id }) }}">
                Salvar
            </a>
        </li>
        <li>
            <form action="{{ path('entidade_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Apagar{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
